<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey submit page</title>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <h1>Submitted Information</h1>

            <p>Name :   <%= data.full_name%>              </p>
            <p>Dojo Location :     <%= data.location%>              </p>
            <p>Favorite Language :   <%= data.lang%>               </p>
            <p>Comment:         <%= data.comment%>         </p>
        </div>
    </div>
</body>
</html>