<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Images</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div id="wrapper">
    <img src="/images/download.jpeg" alt="car image"/>
    <img src="/images/download_1.jpeg" alt="car 1 image"/>
    <img src="/images/download_2.jpeg" alt="car 2 image"/>
</div> 
</body>
</html>